{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Instructor - EduForAll</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link href="{% static 'img/favicon.svg' %}" rel="icon" type="image/svg+xml">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&family=Inter:wght@400;500;600&display=swap"
        rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    {% include 'navbar.html' %}

    <div class="page-banner">
        <div class="container">
            <p class="hero-eyebrow mb-2">Instructors</p>
            <h1 class="mb-0" style="color: #fff;">Meet the people teaching your courses</h1>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{% static 'img/instructor2.svg' %}" alt="Steve Gogo">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-teal mx-1" href="#" aria-label="Facebook"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-teal mx-1" href="#" aria-label="Twitter"><i
                                        class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-teal mx-1" href="#" aria-label="Instagram"><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Steve Gogo</h5>
                            <small>Senior Trainer</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{% static 'img/instructors1.svg' %}" alt="Elizabeth Akell">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-teal mx-1" href="#" aria-label="Facebook"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-teal mx-1" href="#" aria-label="Twitter"><i
                                        class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-teal mx-1" href="#" aria-label="Instagram"><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Elizabeth Akell</h5>
                            <small>Mentor</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{% static 'img/instructor2.svg' %}" alt="Maxwell Gogo">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-teal mx-1" href="#" aria-label="Facebook"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-teal mx-1" href="#" aria-label="Twitter"><i
                                        class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-teal mx-1" href="#" aria-label="Instagram"><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Maxwell Gogo</h5>
                            <small>Instructor</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{% static 'img/instructors1.svg' %}" alt="Joan Mukura">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-teal mx-1" href="#" aria-label="Facebook"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-teal mx-1" href="#" aria-label="Twitter"><i
                                        class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-teal mx-1" href="#" aria-label="Instagram"><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Joan Mukura</h5>
                            <small>Instructor</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>